<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="5078pepeizq.OriginTiles" Publisher="CN=C91088FC-231C-4E13-86D1-5F9658173DA7" Version="0.4.5.0" />
  <mp:PhoneIdentity PhoneProductId="67e5bd3a-0b4d-4e99-8efc-b1033e8e9f74" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Origin Tiles</DisplayName>
    <PublisherDisplayName>pepeizq</PublisherDisplayName>
    <Logo>assets\Store\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Origin_Tiles.App">
      <uap:VisualElements DisplayName="Origin Tiles" Square150x150Logo="assets\Medium\Medium150x150Logo.png" Square44x44Logo="assets\AppList\AppList.png" Description="https://pepeizqapps.com" BackgroundColor="darkOrange">
        <uap:DefaultTile Wide310x150Logo="assets\Wide\Wide310x150Logo.png" ShortName="Origin Tiles" Square310x310Logo="assets\Large\Large310x310Logo.png" Square71x71Logo="assets\Small\Small71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="assets\SplashScreen\SplashScreen.png" BackgroundColor="darkOrange" />
        <uap:LockScreen BadgeLogo="assets\Badge\Badge.png" Notification="badge" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>